<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink [routerLink]="['/carrusel']" routerLinkActive="router-link-active" >Carrusel</button>
  </li>
  <li ngbNavItem>
    <button ngbNavLink [routerLink]="['/habilidades']" routerLinkActive="router-link-active" >Habilidades</button>
  </li>
  <li ngbNavItem>
    <button ngbNavLink [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</button>
  </li>
  <li ngbNavItem>
    <button ngbNavLink [routerLink]="['/form']" routerLinkActive="router-link-active" >Formulario de contacto</button>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<router-outlet></router-outlet>
