<h2 class="text-center">Habilidades técnicas</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-light">
    <h5>
      Java, Javascript, Typescript, LUA, Python. Frameworks Angular, React
    </h5>
  </li>
  <li class="list-group-item list-group-item-light"><h5>Soltura con Maven y Gradle. Conocimiento en Ant</h5></li>
  <li class="list-group-item list-group-item-light"><h5>Conocimientos en SQL (MySQL, PostgreSQL, Oracle)</h5></li>
  <li class="list-group-item list-group-item-light">
    <h5>
      Programación para entorno Android basado en Java. Uso de AndroidStudio
    </h5>
  </li>
  <li class="list-group-item list-group-item-light"><h5>Conocimiento sobre Sockets, SSL y comunicaciones con Java</h5></li>
  <li class="list-group-item list-group-item-light"><h5>Programación multihilo y asincrona</h5></li>
  <li class="list-group-item list-group-item-light"><h5>Conocimiento básico de React</h5></li>
  <li class="list-group-item list-group-item-light"><h5>Aprendiendo Angular actualmente</h5></li>
  <li class="list-group-item list-group-item-light"><h5>Conocimiento de uso y mantenimiento de contenedores Docker</h5></li>
</ul>
<h2 class="text-center">Habilidades blandas (Softskills)</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-light">
    <h5>Implicado con los compañeros y siempre predispuesto a ayudar</h5>
  </li>
  <li class="list-group-item list-group-item-light">
    <h5>Diligente y perseverante con los objetivos</h5>
  </li>
  <li class="list-group-item list-group-item-light">
    <h5>Abierto a escuchar críticas o fallos buscando siempre mejorar</h5>
  </li>
</ul>
