<div id="contenedor-habilidades">
  <div>
    <h4 class="text-center">Habilidades técnicas</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-light">
        Java, Javascript, Typescript, Lua, Python. Frameworks Angular, React
      </li>
      <li class="list-group-item list-group-item-light">Maven, Gradle, Ant</li>
      <li class="list-group-item list-group-item-light">
        SQL (MySQL, PostgreSQL, Oracle)
      </li>
      <li class="list-group-item list-group-item-light">
        NoSQL (Firebase y MongoDB)
      </li>
      <li class="list-group-item list-group-item-light">
        API Rest (Postman, RapidAPI...)
      </li>
      <li class="list-group-item list-group-item-light">
        Android Java. AndroidStudio
      </li>
      <li class="list-group-item list-group-item-light">Sockets, SSL Java</li>
      <li class="list-group-item list-group-item-light">
        Multihilo y asincrona
      </li>
      <li class="list-group-item list-group-item-light">React</li>
      <li class="list-group-item list-group-item-light">Angular</li>
      <li class="list-group-item list-group-item-light">Docker</li>
    </ul>
  </div>

  <div>
    <h4 class="text-center">Habilidades blandas (Softskills)</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-light">
        Implicado con los compañeros y siempre predispuesto a ayudar
      </li>
      <li class="list-group-item list-group-item-light">
        Diligente y perseverante con los objetivos
      </li>
      <li class="list-group-item list-group-item-light">
        Abierto a escuchar críticas o fallos buscando siempre mejorar
      </li>
    </ul>
  </div>
</div>
